<p-table class="custom-device-table" [value]="devices" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Location</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
        <tr>
            <td>{{ device.name }}</td>
            <td>{{ device.type }}</td>
            <td>{{ device.status }}</td>
            <td>{{ device.location }}</td>
            <td><app-delete-device [deviceId]="device._id"/></td>
        </tr>
    </ng-template>
</p-table>
